[submodule "Easy/3-column-preview-card"]
	path = Easy/3-column-preview-card
	url = https://github.com/PhosRunia28/3-column-preview-card
[submodule "Easy/Article_Preview_component"]
	path = Easy/Article_Preview_component
	url = https://github.com/PhosRunia28/Article_Preview_component
[submodule "Easy/Base-Apparel-Coming-Soon"]
	path = Easy/Base-Apparel-Coming-Soon
	url = https://github.com/PhosRunia28/Base-Apparel-Coming-Soon
[submodule "Easy/Blog-Preview-Card"]
	path = Easy/Blog-Preview-Card
	url = https://github.com/PhosRunia28/Blog-Preview-Card
[submodule "Easy/faq_accordion"]
	path = Easy/faq_accordion
	url = https://github.com/PhosRunia28/faq_accordion
[submodule "Easy/Four-card-feature-section"]
	path = Easy/Four-card-feature-section
	url = https://github.com/PhosRunia28/Four-card-feature-section
[submodule "Easy/huddle_landing_page_with_single_introductory"]
	path = Easy/huddle_landing_page_with_single_introductory
	url = https://github.com/PhosRunia28/huddle_landing_page_with_single_introductory
[submodule "Easy/Interactive-Rating-Component"]
	path = Easy/Interactive-Rating-Component
	url = https://github.com/PhosRunia28/Interactive-Rating-Component
[submodule "Easy/Intro-component-sign-up-form"]
	path = Easy/Intro-component-sign-up-form
	url = https://github.com/PhosRunia28/Intro-component-sign-up-form
[submodule "Easy/NFT-preview-card-component"]
	path = Easy/NFT-preview-card-component
	url = https://github.com/PhosRunia28/NFT-preview-card-component
[submodule "Easy/Order-Summary-Component"]
	path = Easy/Order-Summary-Component
	url = https://github.com/PhosRunia28/Order-Summary-Component
[submodule "Easy/Ping-Coming-Soon-Page"]
	path = Easy/Ping-Coming-Soon-Page
	url = https://github.com/PhosRunia28/Ping-Coming-Soon-Page
[submodule "Easy/product-preview-card"]
	path = Easy/product-preview-card
	url = https://github.com/PhosRunia28/product-preview-card
[submodule "Easy/Profile-card-component"]
	path = Easy/Profile-card-component
	url = https://github.com/PhosRunia28/Profile-card-component
[submodule "Easy/qrCode"]
	path = Easy/qrCode
	url = https://github.com/PhosRunia28/qrCode
[submodule "Easy/Recipe-Page"]
	path = Easy/Recipe-Page
	url = https://github.com/PhosRunia28/Recipe-Page
[submodule "Easy/results_summary_component"]
	path = Easy/results_summary_component
	url = https://github.com/PhosRunia28/results_summary_component
[submodule "Easy/single-price-grid"]
	path = Easy/single-price-grid
	url = https://github.com/PhosRunia28/single-price-grid
[submodule "Easy/Social-Links-Profile"]
	path = Easy/Social-Links-Profile
	url = https://github.com/PhosRunia28/Social-Links-Profile
[submodule "Easy/social-proof-section"]
	path = Easy/social-proof-section
	url = https://github.com/PhosRunia28/social-proof-section
[submodule "Easy/Stats-preview-card"]
	path = Easy/Stats-preview-card
	url = https://github.com/PhosRunia28/Stats-preview-card
